/* 2, Contents */


/* 基本 */

.l-container {
    width: 1260px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;

    @include tb {
        width: 100%;
        padding: 0 15px;
    }
}


/*　ヘッダー用　*/

.l-container--header {
    width: 1900px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 0 0 35px;

    @include tb {
        width: 100%;
        padding: 0 15px;
    }
}


/* 小さい幅 */
.l-container-small {
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;

    @include tb {
        width: 100%;
        padding: 0 15px;
    }
}


/* Breadcrumbs */

.l-breadcrumbs {
    margin: 30px 0 30px 0;
    background-color: #fff;
    font-size: 1.4rem;
}