@charset "utf-8";

/* Header */

header {
    position: sticky;
    top: 0;
    left: 0;
    height: 80px;
    margin: 0 auto 0px auto;
    padding: 0px 0 0 0;
    background-color: #fff;
    z-index: 777;

    @include sp {
        height: 70px;
    }
}


/* IE 用 */

@media all and (-ms-high-contrast: none) {
    header {
        position: relative;
    }
}

.l-header__wrap {
    display: flex;
    margin: 0 auto;

    @include tb {
        display: block;
    }
}

.l-header__left {
    display: flex;
    justify-content: space-between;
    position: relative;

    @include tb {
        display: block;
    }
}

.l-header__branding {
    width: 200px;
    margin: 0px 0px 0 0px;
    padding: 0px 0;

    img {
        width: 100%;
        height: auto;
    }
}

.l-header__right {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 0px;
    width: calc(100% - 200px);
    margin: 0 0 0px 0;
    padding: 0px 0 0 0;

    @include tb {
        display: none;
    }
}


/* Navi */

.l-nav__wrap {
    display: flex;
    align-items: flex-end;
    //justify-content: space-between;
    margin: 0;
    padding: 40px 20px 0 40px;

    @include header {
        padding: 40px 10px 0 10px;
    }

    @include tb {
        display: none;
    }
}