/* front-page */


/* Main Visual */

.p-main-visual {
    position: relative;
    max-width: 100%;
    width: 100%;
    //height: 591px;
    margin: auto;
    background-color: $main-color;
}

.p-front-sec01 {
    padding: 50px 0 20px 0;

    @include sp {
        padding: 20px 0 20px 0;
    }
}