/* キービジュアル */
.c-kv {
    position: relative;
    height: 180px;
    margin: 0 0 10px 0;
    padding: 60px 0 20px 0;
    background: $main-color;

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        img {
            width: 100%;
            height: 180px;
            object-fit: cover;
            object-position: 50%;
        }
    }

    &__title {
        position: relative;
        color: #fff;
        z-index: 2;
    }
}