/* Page Key Visual */

.c-page-kv {
    position: relative;
    width: 100%;
    height: 330px;
    background: url('./img/img_pagetitle_bg01.png') no-repeat 50% 50%;
    background-size: cover;
    background-color: #777;
}

.c-pageTop {
    position: fixed;
    bottom: 0px;
    right: 0;
    width: 50px;
    height: 50px;
    padding-top: 12px;
    box-sizing: border-box;
    text-align: center;
    background-color: $main-color;
    color: white;
    opacity: 0;
    transition: 0.5s;
    z-index: 777;
}

.c-pageTop.is-show {
    opacity: 1;
}