/* Page Title */

.c-page__maintitle {
    width: 100%;
    margin-bottom: 40px;
    padding: 30px 0 40px 125px;
    border-bottom: 3px solid $main-color;
    background: url("./img/icon_maintitle01.png") no-repeat 0px 50%;
    color: $main-color;
    font-size: 3rem;
}